*.cache
vivado/*
*vivado*.txt
*.log
*.jou
src/bd/*/*
!src/bd/*/*.bd
src/bd/*/hdl/**
src/bd/*/hw_handoff/*
src/bd/*/ip/**
src/bd/*/ipshared/*
src/bd/*/ui/**
ip_repo/edit_*
export_sim/**
hw/.Xil
hw/boot
hw/dts
hw/fsbl
hw/sysdef
Temp_Project/*